#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: #291F16;
  height: 3px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
}

#nprogress .peg {
  display: none;
}

#nprogress .spinner {
  display: none;
}